* {
  margin: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  background-color: rgb(166, 139, 190);
}
header {
  height: 250px;
  width: auto;
  background-color: rgb(61, 43, 78);
  text-align: center;
  position: sticky;
  top: 0;
}
h1 {
  padding-top: 30px;
  font-size: 80px;
  color: antiquewhite;
}
h4 {
  font-size: 30px;
  margin-bottom: 5px;
}
.hinzufuegen {
  margin-top: 30px;
  text-align: center;
  background-color: rgb(166, 139, 190);
}
input {
  font-size: 20px;

  margin-bottom: 20px;
}
.btn {
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  border: none;
}
.bookShelf {
  display: flex;
  flex-wrap: wrap;
}
p {
  line-height: 140%;
}
.btn2 {
  margin-top: 20px;
  padding: 10px;
  border: 3px solid rgb(61, 43, 78);
  background-color: rgb(180, 112, 245);
  border-radius: 15px;
}
.container {
  margin: 30px;
  padding-top: 40px;
  height: 300px;
  width: 220px;
  border: 3px solid rgb(61, 43, 78);
  background-color: rgb(129, 81, 173);
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
}
