* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(166, 139, 190);
}
header {
  height: 150px;
  width: auto;
  background-color: rgb(61, 43, 78);
  text-align: center;
}
h1 {
  padding-top: 30px;
  font-size: 80px;
  color: antiquewhite;
}
h4 {
  font-size: 30px;
  margin-bottom: 5px;
}
.hinzufuegen {
  margin-top: 10px;
  text-align: center;
}
input {
  font-size: 20px;
}
.btn {
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  border: none;
}
main {
  display: grid;
}
.container {
  margin: 30px;
  padding-top: 40px;
  height: 250px;
  width: 220px;
  border: 3px solid rgb(61, 43, 78);
  background-color: rgb(129, 81, 173);
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
}
